@charset "utf-8";
/* CSS Document */

@import 'vars';

#making-of{
    .wrapper{
        padding-bottom: 50px;
        //
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: 50% 50%;
            // grid-template-rows: auto;
            // row-gap: 20px;
        }
        //
        .video{
            position: relative;
            display: block;
            width: 100%;
            background-color: $color-black;
            margin-bottom: 30px;
            @include border-radius(0 0 3px 3px);
            //
            @media screen and (min-width: 768px) {
                // margin-bottom: 0;
                //
                &:nth-child(1n+1){
                    margin-right: 30px;
                }
                &:nth-child(2n+2){
                    margin-left: 30px;
                }
            }
            //
            video{
                display: block;
                width: 100%;
                height: auto;
                margin: 0;
                @include border-radius(3px 3px 0 0);
            }
            //
            h3{
                margin: 0;
                padding: 15px 15px;
                // background-color: $color-black;
                color: #fff;
                font-size: 1.0rem;
                font-weight: 300;
                text-align: center;
                // @include border-radius(0 0 3px 3px);
            }
        }
    }
}